<!doctype html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>crud dashboard</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/admin/css/bootstrap.min.css">
	<!----css3---->
	<link rel="stylesheet" href="~/admin/css/custom.css">
	<link rel="stylesheet" href="~/daodiennguoidung/style.css" />
	<link rel="stylesheet" href="~/daodiennguoidung/anhchuyenkhoan.css" />
	<link rel="stylesheet" href="~/daodiennguoidung/hoadon.css" />

	<!--google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


	<!--google material icon-->
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>
<body>



	<div class="wrapper">

		<div class="body-overlay"></div>

		<!-------sidebar--design------------>

		<div id="sidebar">
			<div class="sidebar-header">
				<h3><img src="~/admin/Upload/logo.jpg" class="img-fluid" /><span>vishweb design</span></h3>
			</div>
			<ul class="list-unstyled component m-0">
				<li class="active">
					<a asp-controller="ThongTinCaNhan" asp-action="Index" class="dashboard"><i class="material-icons">people</i>Thông Tin Cá Nhân</a>
				</li>

				<li class="">
					<a asp-controller="HoaDonVaBienLai" asp-action="Index"><i class="material-icons">equalizer</i>Hoá Đơn và Biên Lai</a>
				</li>

				<li class="">
					<a asp-controller="ThongBao" asp-action="Index"><i class="material-icons">date_range</i>Thông Báo</a>
				</li>

				
			</ul>
		</div>

		<!-------sidebar--design- close----------->
		<!-------page-content start----------->

		<div id="content">

			<!------top-navbar-start----------->

			<div class="top-navbar">
				<div class="xd-topbar">
					<div class="row">
						<div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
							<div class="xp-menubar">
								<span class="material-icons text-white">signal_cellular_alt</span>
							</div>
						</div>

						<div class="col-md-5 col-lg-3 order-3 order-md-2">
						</div>


						<div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
							<div class="xp-profilebar text-right">
								<nav class="navbar p-0">
									<ul class="nav navbar-nav flex-row ml-auto" id="myTab">
										<li class="dropdown nav-item active">
											<a class="nav-link" href="#" data-toggle="dropdown">
												<span class="material-icons">notifications</span>
												<span class="notification">4</span>
											</a>
											<ul class="dropdown-menu">
												<li><a href="#">You Have 4 New Messages</a></li>
												<li><a href="#">You Have 4 New Messages</a></li>
												<li><a href="#">You Have 4 New Messages</a></li>
												<li><a href="#">You Have 4 New Messages</a></li>
											</ul>
										</li>

										<li class="nav-item">
											<a class="nav-link" href="#">
												<span class="material-icons">question_answer</span>
											</a>
										</li>

										<li class="dropdown nav-item">
											<a class="nav-link" href="#" data-toggle="dropdown">
												<img src="~/admin/img/user.jpg" style="width:40px; border-radius:50%;" />
												<span class="xp-user-live"></span>
											</a>
											<ul class="dropdown-menu small-menu">
												<li>
													<a href="@Url.Action("ChangePassword","Home")">
														<span class="material-icons">settings</span>
														Đổi Mật Khẩu
													</a>
												</li>
												<li>
													<a asp-action="Logout" asp-controller="Home">
														<span class="material-icons">logout</span>
														Đăng xuất
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>

					</div>



				</div>
			</div>
			<!------top-navbar-end----------->
			<!------main-content-start----------->

			<div class="main-content">
				<div class="row" style="justify-content: flex-end;">
					@RenderBody()





				</div>
			</div>

			<!------main-content-end----------->
			<!----footer-design------------->

			<footer class="footer">
				<div class="container-fluid">
					<div class="footer-in">
						<p class="mb-0">&copy 2023 MyHoure Accommodation</p>
					</div>
				</div>
			</footer>




		</div>

	</div>



	<!-------complete html----------->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="~/admin/js/jquery-3.3.1.slim.min.js"></script>
	<script src="~/admin/js/popper.min.js"></script>
	<script src="~/admin/js/bootstrap.min.js"></script>
	<script src="~/admin/js/jquery-3.3.1.min.js"></script>
	@{
		string xx = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js";
	}
	<script src="@xx" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".xp-menubar").on('click', function () {
				$("#sidebar").toggleClass('active');
				$("#content").toggleClass('active');
			});

			$('.xp-menubar,.body-overlay').on('click', function () {
				$("#sidebar,.body-overlay").toggleClass('show-nav');
			});

		});
		$(document).ready(function () {
			$("#myTab li").click(function () {
				$("#myTab li").removeClass("active");
				$(this).addClass("active");
			});
		});
		$(document).ready(function () {
			$(".logout-btn").on('click', function (e) {
				e.preventDefault();

				// Gửi yêu cầu POST đến action Logout trong HomeController
				$.post("/Admin/Home/Logout", function () {
					// Khi logout thành công, chuyển hướng về trang Login
					window.location.href = "/Admin/Home/Login";
				});
			});
		});
	</script>


@await Component.InvokeAsync("NToastNotify");



</body>

</html>


