<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>crud dashboard</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/admin/css/bootstrap.min.css">
	<!----css3---->
	<link rel="stylesheet" href="~/admin/css/custom.css">


	<!--google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


	<!--google material icon-->
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">


</head>
<body>


	<style>
		th:not(:first-child) {
			min-width: 170px;
		}
	</style>
	<div class="wrapper">

		<div class="body-overlay"></div>

		<!-------sidebar--design------------>

		<div id="sidebar">
			<div class="sidebar-header">
				<h3><img src="~/admin/Upload/logo.jpg" class="img-fluid" /><span>Phòng trọ</span></h3>
			</div>
			<ul class="list-unstyled component m-0">
				<li class="active">
					<a asp-controller="TaiKhoan" asp-action="Index" asp-area="Admin" class="dashboard"><i class="material-icons">supervisor_account</i>Tài khoản</a>
				</li>
				<li class="">
					<a asp-controller="TaiKhoanNguoiDung" asp-area="Admin" asp-action="Index" class="dashboard"><i class="material-icons">supervised_user_circle</i>Tài khoản người dùng</a>
				</li>
				<li class="dropdown">
					<a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false"
					   class="dropdown-toggle">
						<i class="material-icons">aspect_ratio</i>Thư mục lưu trú
					</a>
					<ul class="collapse list-unstyled menu" id="homeSubmenu1">
						<li><a asp-action="Index" asp-controller="Phong" asp-area="Admin">Phòng</a></li>
						<li><a asp-action="Index" asp-controller="LoaiPhong" asp-area="Admin">Loại phòng</a></li>
						<li><a asp-action="Index" asp-controller="DayTro" asp-area="Admin">Dãy trọ</a></li>
					</ul>
				</li>


				<li class="dropdown">
					<a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false"
					   class="dropdown-toggle">
						<i class="material-icons">apps</i>Hệ thống dịch vụ
					</a>
					<ul class="collapse list-unstyled menu" id="homeSubmenu2">
						<li><a asp-action="Index" asp-controller="DichVu" asp-area="Admin">Dịch vụ</a></li>
						<li><a asp-action="Index" asp-controller="DichVuSuDung" asp-area="Admin">Dịch vụ sử dụng</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false"
					   class="dropdown-toggle">
						<i class="material-icons">equalizer</i>Lưu trú và thanh toán
					</a>
					<ul class="collapse list-unstyled menu" id="homeSubmenu3">
						<li><a asp-action="Index" asp-controller="ThuePhong" asp-area="Admin">Phòng lưu trú</a></li>
						<li><a asp-action="Index" asp-controller="DienNuoc" asp-area="Admin">Điện nước</a></li>
						<li><a asp-action="Index" asp-controller="HoaDon" asp-area="Admin">Hóa đơn</a></li>
					</ul>
				</li>

				<li class="">
					<a asp-action="Index" asp-controller="NguoiThue" asp-area="Admin"><i class="material-icons">people</i>Người thuê </a>
				</li>
				<li class="">
					<a asp-action="Index" asp-controller="ThongBao" asp-area="Admin"><i class="material-icons">date_range</i>Thông báo</a>
				</li>

			</ul>
		</div>

		<!-------sidebar--design- close----------->
		<!-------page-content start----------->

		<div id="content">

			<!------top-navbar-start----------->

			<div class="top-navbar">
				<div class="xd-topbar">
					<div class="row">
						<div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
							<div class="xp-menubar">
								<span class="material-icons text-white">signal_cellular_alt</span>
							</div>
						</div>

						<div class="col-md-5 col-lg-3 order-3 order-md-2">
						</div>


						<div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
							<div class="xp-profilebar text-right">
								<nav class="navbar p-0">
									<ul class="nav navbar-nav flex-row ml-auto">
										<li class="dropdown nav-item active">
											<a class="nav-link" href="#" data-toggle="dropdown">
												<span class="material-icons">notifications</span>
												<span class="notification">4</span>
											</a>
											<ul class="dropdown-menu">
												<li><a href="#">You Have 4 New Messages</a></li>
												<li><a href="#">You Have 4 New Messages</a></li>
												<li><a href="#">You Have 4 New Messages</a></li>
												<li><a href="#">You Have 4 New Messages</a></li>
											</ul>
										</li>

										<li class="nav-item">
											<a class="nav-link" href="#">
												<span class="material-icons">question_answer</span>
											</a>
										</li>

										<li class="dropdown nav-item">
											<a class="nav-link" href="#" data-toggle="dropdown">
												<img src="~/admin/img/user.jpg" style="width:40px; border-radius:50%;" />
												<span class="xp-user-live"></span>
											</a>
											<ul class="dropdown-menu small-menu">
												<li>
													<a href="#">
														<span class="material-icons">settings</span>
														Cài đặt
													</a>
												</li>
												<li>
													<a asp-action="Logout" asp-controller="Home">
														<span class="material-icons">logout</span>
														Đăng xuất
													</a>
												</li>

											</ul>
										</li>


									</ul>
								</nav>
							</div>
						</div>

					</div>



				</div>
			</div>
			<!------top-navbar-end----------->
			<!------main-content-start----------->

			<div class="main-content">
				<div class="row" style="justify-content: flex-end;">
					@RenderBody()
				</div>
			</div>

			<!------main-content-end----------->
			<!----footer-design------------->

			<footer class="footer">
				<div class="container-fluid">
					<div class="footer-in">
						<p class="mb-0">&copy 2023 MyHoure Accommodation</p>
					</div>
				</div>
			</footer>




		</div>

	</div>



	<!-------complete html----------->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="~/admin/js/jquery-3.3.1.slim.min.js"></script>
	<script src="~/admin/js/popper.min.js"></script>
	<script src="~/admin/js/bootstrap.min.js"></script>
	<script src="~/admin/js/jquery-3.3.1.min.js"></script>

	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({
			selector: 'textarea#tiny',
			plugins: [
				'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
				'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
				'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
			],
			toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
				'bullist numlist checklist outdent indent | removeformat | code table help'
		})
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".xp-menubar").on('click', function () {
				$("#sidebar").toggleClass('active');
				$("#content").toggleClass('active');
			});

			$('.xp-menubar,.body-overlay').on('click', function () {
				$("#sidebar,.body-overlay").toggleClass('show-nav');
			});

		});
	</script>
	@await Component.InvokeAsync("NToastNotify");
</body>

</html>


