@model Đồ_án.Areas.Admin.Models.ThongBao
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
<div class="col-md-12">
	<div class="table-wrapper">

		<div class="table-title">
			<div class="row">
				<div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
					<h2 class="ml-lg-2">Thêm thông báo</h2>
				</div>
				<div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
					<button type="submit" form="createForm" class="btn btn-success">
						<i class="material-icons">&#xe161;</i>
						<span>Lưu</span>
					</button>
					<a asp-action="Index" asp-controller="ThongBao" class="btn btn-success">
						<i class="material-icons">&#xe5c4;</i>
						<span>Quay về danh sách</span>
					</a>
				</div>
			</div>
		</div>
		<div style="display: block">
			<h1 style="font-size: 20px;">@Model.tieuDe</h1>
			<h3 style="font-size: 12px;">@Model.ngayDang.ToString("dd-mm-yyyy hh:mm")</h3>
			<p>
				@Html.Raw(Model.moTa)
			</p>
		</div>
	</div>
</div>

