@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}
@model Phong
<div class="col-md-12">
	<div class="table-wrapper">

		<div class="table-title">
			<div class="row">
				<div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
					<h2 class="ml-lg-2">Thêm phòng</h2>
				</div>
				<div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
					<button type="submit" form="createForm" class="btn btn-success">
						<i class="material-icons">&#xe161;</i>
						<span>Lưu</span>
					</button>
					<a asp-action="Index" asp-controller="Phong" class="btn btn-success">
						<i class="material-icons">&#xe5c4;</i>
						<span>Quay về danh sách</span>
					</a>
				</div>
			</div>
		</div>
		<form method="post" id="createForm">
			<div>
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-group">
							<label asp-for="tenPhong">Tên phòng</label>
							<input asp-for="tenPhong" type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label asp-for="loaiPhong">Tên loại phòng</label>
							<select asp-for="IDLoaiPhong" type="text" asp-items="ViewBag.LoaiPhong" class="form-control"></select>
						</div>
						<div class="form-group">
							<label asp-for="conPhong">Trạng thái</label>
							<select asp-for="conPhong">
								<option value="true">Chưa có người đặt</option>
								<option value="false">Đã có người đặt</option>
							</select>
						</div>
						<div class="form-group">
							<label asp-for="dayTro">Tên dãy trọ</label>
							<select asp-for="IDDayTro" type="text" asp-items="ViewBag.DayTro" class="form-control"></select>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>